# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Android signing files (do not commit secrets)
keystore.properties
secrets.local.properties
*.keystore
*.jks
